#root {
  position: relative;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: rgb(17, 140, 201);  
}

.pokemons-logo{
  width: 480px;
  height: 240px;

}

.pokemons-logo:hover{
    transform: translateY(-8px) scale(1.05);
}

.pok-cards,
.filters {
  margin: 64px;
  padding: 64px;
  display: flex;
  gap: 64px;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 8px;
  width: 960px;
  
}
.filters select:hover,
.filters:hover{
  transform: translateY(-8px) scale(1.05);
  box-shadow: 0 8px 24px 8px rgba(0, 0, 0, 0.912);
}

.filters select {
  position: relative;
  font-size: 1.2rem;
  padding: 16px 32px;
  min-width: 320px;
  border-radius: 8px;
  color: grey;
  border: grey;
}
